services:
  - type: web
    name: plant-ai-backend
    env: docker
    dockerfilePath: ./backend/Dockerfile
    plan: free
    autoDeploy: true
    envVars:
      - key: GROQ_API_KEY
        sync: false
      - key: ELEVENLABS_API_KEY
        sync: false
      - key: HF_MODEL_ID
        value: "linkanjarad/mobilenet_v2_1.0_224-plant-disease-identification"
